body{
    object-fit: cover;
    background: rgba(64, 64, 64, 1);
    color: white;
    width: 99vw;
    height: 95vh;
    margin: 0;
}
header{
    margin: 0 auto;
    width: max-content;
    margin-bottom: 0;
}
main{
    margin: 0 auto;
    text-align: center;
    display: flex;
    margin-top: 2vh;
}
h3, form{
    width: max-content;
    margin: 0 auto;
}
section{
    margin: 0 auto;
    width: 25vw;
}
input {
    max-width: 30vw;
}
@media (orientation:portrait) {
    section{
        width: 40vw;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    #d , #f{
        width: min-content;
        margin: 0 auto;
    }
}