body{
    object-fit: cover;
    background: rgba(64, 64, 64, 1);
    color: white;
}
header{
    margin: 5vh auto;
    width: max-content;
    margin-bottom: 0;
}
main{
    margin: 0 auto;
    width: 70vw;
    text-align: center;
    display: flex;
    margin-top: 2vh;
}
h3, form{
    width: max-content;
    margin: 0 auto;
}
section{
    margin: 0 auto;
    width: min-content;
}